.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(remUnit(190), remUnit(300)));
    gap: remUnit(20);


    @include breakpoints(laptop){
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoints(desktop){
        // background: yellow;
        width: 45rem;
        height: 50%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }


    .card_user {
        background-color: $Darkblue;
        display: flex;
        flex-direction: column;
        height: remUnit(182);
        border-radius: remUnit(13);

        @include breakpoints(laptop) {
            grid-column: 1/-1;
            height: auto;
        }

        @include breakpoints(desktop) {
            grid-column: 1;
            grid-row: 1/-1;
            height: auto;
        }

        &_info {
            display: flex;
            background-color: $blue; 
            align-items: center;
            justify-content: center;
            height: 70%;
            padding: remUnit(20);
            border-radius: remUnit(13);

            @include breakpoints(desktop) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
            }

            .img {
                width: remUnit(64);
                height: remUnit(64);
                border-radius: 50%;
                border: remUnit(2) solid white;
                margin-right: remUnit(18);
                img{
                    width: 100%;
                }

                @include breakpoints(desktop) {
                    width: remUnit(50);
                    height: remUnit(50);
                }
            }

            .details{
                @include breakpoints(desktop) {
                    justify-content: space-around;
                }
                p{
                    font-size: remUnit(15);
                    color: $PaleBlue;
                    margin-bottom: remUnit(5);
                    @include breakpoints(desktop) {
                        font-size: remUnit(12);
                    }
                }

                .name{
                    font-size: remUnit(22);
                    font-weight: 300;
                    color: white;

                    @include breakpoints(desktop) {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .times{
            font-size: remUnit(18);
            display: flex;
            margin-top: remUnit(14);
            align-items:baseline;
            justify-content:space-evenly;

            @include breakpoints(desktop) {
                margin-top: remUnit(5);
                flex-direction: column;
                font-size: remUnit(12);
                padding: remUnit(20);
            }

            a{
                color: $Desaturatedblue;
                font-weight: 300;
                @include breakpoints(desktop) {
                    margin-bottom: remUnit(10);
                }
            }
            a:hover{
                color: $PaleBlue;
            }

        }
        
    }

    .card {
        display: flex;
        align-items:flex-end;
        height: remUnit(140);
        border-radius: remUnit(13);
        cursor: pointer;

        @include breakpoints(desktop) {
            height: auto;
        }

        &_work{
            background: url('/images/icon-work.svg') no-repeat $lightRed right top;
            background-position-x: 95%;
            background-position-y: remUnit(-13);

        }
        &_play{
            background: url('/images/icon-play.svg') no-repeat $softblue right top;
            background-position-x: 95%;
            background-position-y: remUnit(-8);
        }
        &_study{
            background: url('/images/icon-study.svg') no-repeat $lightred right top;
            background-position-x: 95%;
            background-position-y: remUnit(-13);
        }
        &_exercise{
            background: url('/images/icon-exercise.svg') no-repeat $limegreen right top;
            background-position-x: 95%;
            background-position-y: remUnit(-4);
        }
        &_social{
            background: url('/images/icon-social.svg') no-repeat $violet right top;
            background-position-x: 95%;
            background-position-y: remUnit(-13);
        }
        &_selfcare{
            background: url('/images/icon-self-care.svg') no-repeat $softorange right top;
            background-position-x: 95%;
            background-position-y: remUnit(-13);
        }
    }

    //inside cards text
    .purple {
        width: 110%;
        height: 75%;
        background-color: $Darkblue;
        border-radius: remUnit(10);
        padding: remUnit(20);
        display: flex;
        align-items: center;
        justify-content: space-between;  

        @include breakpoints(desktop) {
            height: 80%;
        }



        .desc {
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;

            .title_img{
                display: flex;
                justify-content: space-between;

                img {
                    align-self: flex-start;
                    cursor: pointer;
                }
            }
            #title {
                font-weight: 500;
                margin-bottom: remUnit(10);

            }

            .hrs {
                font-weight: 300;
                font-size: remUnit(25);

                @include breakpoints(desktop) {
                    font-size: remUnit(30);
                }
            }

            .timing {
                display: flex;
                justify-content: space-between;

                @include breakpoints(laptop) {
                    flex-direction: column;
                }

                #previous {
                    font-size: remUnit(12);
                    align-self: flex-end;
                    color: $PaleBlue;
                
                    @include breakpoints(laptop) {
                        flex-direction: column;
                        font-size: remUnit(10);
                        align-self: flex-start;
                        margin-top: remUnit(10);
                    }
                }
            }
        }

    }

    .purple:hover {
        opacity: 0.9;
    }
}